h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

#content {
  flex: 4;
}

#content span.section-num {
  margin-right: 0.5em;
  color: var(--second-text);
  font-family: monospace;
}

#content img:not(#logo),
.visualization {
  border: 2px solid var(--border);
  background: var(--second-background);
  padding: 1.5em;
  align: right;
}

#content > header > img#logo {
  margin-right: 3em;
}

#content > header {
  display: flex;
}
