body {
  display: flex;
  background: var(--background);
  font-family: "NotoSerif";
  font-size: 14px;
  color: var(--text);
}

@font-face {
  font-family: "NotoSerif";
  src: url("../fonts/NotoSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("../fonts/NotoSerif-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("../fonts/NotoSerif-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
