#spn-visualization > .figure {
  width: 350px;
}

#spn-visualization > .controls {
  width: 350px;
}

#spn-visualization > .figure > .plaintext,
#spn-visualization > .figure > .ciphertext {
  margin-left: 32px;
  margin-right: -3px;
}
