<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Differential Cryptanalysis Tutorial</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/spn.js"></script>
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/toc.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/visualization.css">
    <link rel="stylesheet" href="css/spn-visualization.css">
  </head>

  <body>
    {{content.html}}
  </body>
</html>
